<div class="row">
    <div class="col-md-12">
        <!-- Search form -->
        <div class="md-form active-cyan active-cyan-2 mb-3">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-3 mt-2">
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="eventimage" class="mt-2 rounded-circle img-thumbnail " src="https://bootdey.com/img/Content/avatar/avatar7.png">

                    </div>
                    <div class="col-md-8">
                        <h1>Event 1</h1>
                        <p class="card-text">06-oct-2020</p>
                        <p class="card-text">Seats Available : <span style="padding: 7px ;font-size: 30px solid ;" class="badge badge-info badge-pill">23</span></p>
                        <button type="button" class="btn btn-primary">Booknow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 mt-2">
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="eventimage" class="mt-2 rounded-circle img-thumbnail " src="https://bootdey.com/img/Content/avatar/avatar7.png">

                    </div>
                    <div class="col-md-8">
                        <h1>Event 1</h1>
                        <p class="card-text">06-oct-2020</p>
                        <p class="card-text">Seats Available : <span style="padding: 7px ;font-size: 30px solid ;" class="badge badge-info badge-pill">0</span></p>
                        <label style="padding: 10px 20px ;font-size: 30px solid ;" class="badge badge-danger badge-pill text-white">Sold Out</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>